<!-- <div class="container main-container">
    <h1>Demo <small>Angular</small></h1>
    <hr> -->
    <!-- <p [ngStyle]="{'font-size': tamano +'px', 'color':'red'}">Hola mundo... Esto es una etiqueta</p> -->
    <!-- <p [style.fontSize]="'40px'">Hola mundo... Esto es una etiqueta</p> -->
    <p [style.fontSize.px]="tamano">Hola mundo... Esto es una etiqueta</p>
    <button class="btn btn-primary" (click)="aumenta()">
        <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-primary" (click)="disminuye()">
        <i class="fa fa-minus"></i>
    </button>
    
<!-- </div> -->

